# Data Sience Tools and Ecosystem

### In this notebook different data science tools and ecosystem are summarized properly.

**Objectives**
* Popular data science languages
* Various data Science libraries 
* Development environment open source tools in data science
* Example of evaluating arithmetic expressions in Python

### There are various popular languages that data scientists use. Some of them are listed below:
### 1. Python
### 2. R
### 3. SQL
### 4. Julia
### 5. Scala

### There are various libraries which are commonly used by data scientists. Some of them are listed below.
### 1. Pandas
### 2. Numpy
### 3. Matplotlib
### 4. Scikitlearn
### 5. Keras
### 6. Tensorflow
### 7. Ggplot

### Following are some development environment open source tools in ds
|Data Science Tools|
|:----------------:|
|Hadoop|
|R studio|
|Jupyter Notebooks|

### Below are some examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers 
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing it by 60
200/60

3.3333333333333335

## Author
Amod Suresh Deshmukh